@{
    ViewData["Title"] = "Change Password";
}


<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>User profile</h4>
                        <ul>
                            <li>
                                <img src="~/img/customers/default_user.jpeg" alt="User image" style="width: 50%;">
                            </li>
                            <li><a asp-action="Index">Profile details</a></li>
                            <li><strong><a asp-action="ChangePassword">Change password</a></strong></li>
                            <li><a asp-action="Address">Addresses</a></li>
                            <li><a asp-action="Favorite">Favorite</a></li>
                            <li><a asp-action="Orders">Orders</a></li>
                            <li><a asp-action="Logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                    </div>
                </div>

                <div class="row">
                    <h3 style="margin-bottom: 15px;">Change password</h3>
                </div>
                <form asp-action="ChangePassword" method="post" style="margin-left:-15px">
                    <div class="form-group">
                        <label for="oldPass">Old password</label><br>
                        <input type="password" placeholder="Enter old password" name="oldPass" id="oldPass" required minlength="6" maxlength="20">
                    </div>
                    <div class="form-group">
                        <label for="newPass">New password</label><br>
                        <input type="password" placeholder="Enter new password" name="newPass" id="newPass" required minlength="6" maxlength="20">
                    </div>
                    <div class="form-group">
                        <label for="confirmPass">Confirm password</label><br>
                        <input type="password" placeholder="Enter confirm password" name="confirmPass" id="confirmPass" required minlength="6" maxlength="20">
                    </div>
                    <div class="text-danger">
                        @ViewBag.Message
                    </div>
                    <div class="text-success">
                        @ViewBag.success
                    </div>
                    <button type="submit" class="primary-btn">UPDATE</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
