@{
    ViewData["Title"] = "Edit address";
}

@model Address

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>User profile</h4>
                        <ul>
                            <li>
                                <img src="~/img/customers/default_user.jpeg" alt="User image" style="width: 50%;">
                            </li>
                            <li><a asp-action="Index">Profile details</a></li>
                            <li><a asp-action="ChangePassword">Change password</a></li>
                            <li><b style="font-weight: bold;"><a asp-action="Address">Addresses</a></b></li>
                            <li><b><a asp-action="Favorite">Favorite</a></b></li>
                            <li><a asp-action="Orders">Orders</a></li>
                            <li><a asp-action="Logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <a asp-action="Address"><i class='fas fa-angle-left'></i>Back to list address</a>
                    </div>
                </div>

                <div class="row">
                    <h3 style="margin-bottom: 15px;">Edit address</h3>
                </div>

                <form asp-action="EditAddress" method="post" id="formAdd">
                    <input asp-for="AddressId" hidden>
                    
                    <div class="form-group">
                        <label for="Name">Name recepient</label><br>
                        <input asp-for="Name" placeholder="Enter name of recepient" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="">Address</label><br>
                        <input asp-for="Address1" placeholder="Enter address" required>
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="">Shipping number phone</label><br>
                        <input asp-for="ShippingNumberPhone" placeholder="Enter phone number" minlength="9"
                            maxlength="11" required>
                        <span asp-validation-for="ShippingNumberPhone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" value="submit">EDIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}